In [1]:
import pandas as pd

In [2]:
def load_csv(csv_path):
    df = pd.read_csv(csv_path)
    df = df.drop([col for col in df.columns if '_step' in col], axis=1) # drop training step number columns
    df = df.replace('undefined', 0.0)
    df = df.astype('float64')
    
    return df

df = load_csv('../reports/thesis/tables/top_10_test_rouge_l_f1.csv')
df.head()

,epoch,rs_1_09 - test_rouge_L_f1,rs_1_08 - test_rouge_L_f1,rs_1_13 - test_rouge_L_f1,rs_1_12 - test_rouge_L_f1,rs_1_11 - test_rouge_L_f1,rs_1_10 - test_rouge_L_f1,rs_1_07 - test_rouge_L_f1,rs_1_06 - test_rouge_L_f1,rs_1_05 - test_rouge_L_f1
0,1.0,0.248835,0.299247,0.424240,0.164319,0.478707,0.396162,0.192241,0.411260,0.177816
1,2.0,0.298319,0.426575,0.486871,0.186104,0.523838,0.503040,0.254408,0.451513,0.219013
2,3.0,0.318446,0.493871,0.510211,0.205533,0.513825,0.535803,0.306846,0.463835,0.264076
3,4.0,0.324207,0.515968,0.521742,0.217778,0.522579,0.552802,0.353147,0.470170,0.316740
4,5.0,0.263045,0.526855,0.497633,0.233040,0.534139,0.562303,0.000000,0.470495,0.358042

In [3]:
def get_best_score(df, key):
    best_row = df.loc[df[key].idxmax()][['epoch', key]]
    return pd.DataFrame(data={'id': [key], 'epoch': [best_row['epoch']], 'score': [best_row[key]]})

get_best_score(df, 'rs_1_10 - test_rouge_L_f1')

                          id  epoch    score
0  rs_1_10 - test_rouge_L_f1   10.0  0.58293

In [4]:
def get_best_scores(df, metric='test_rouge_L_f1'):
    return pd.concat([
        get_best_score(df, column)
        for column in df.columns
        if metric in column
    ]).sort_values(by='score', ascending=False).set_index('id').astype({'epoch': 'int64'})

get_best_scores(df)

                           epoch     score
id
rs_1_10 - test_rouge_L_f1     10  0.582930
rs_1_08 - test_rouge_L_f1     28  0.566747
rs_1_05 - test_rouge_L_f1     40  0.565396
rs_1_11 - test_rouge_L_f1     11  0.560674
rs_1_13 - test_rouge_L_f1     21  0.555791
rs_1_06 - test_rouge_L_f1      6  0.476592
rs_1_12 - test_rouge_L_f1     30  0.437038
rs_1_07 - test_rouge_L_f1      4  0.353147
rs_1_09 - test_rouge_L_f1      4  0.324207